.toevoegenadd{
    width: 20%;
}

.warforadd .rekaningText {
    margin: 0;
    width: auto;
    padding: 0;
}
@media only screen and (max-width: 768px) {
    .warforadd tr{
        display: flex;
        flex-direction: column;
    }

    .toevoegenadd{
        width: 100%!important;
    }
}