.mainContainer {
    background-color: #eee;
    padding-bottom: 20px;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.inputKlanten {
    width: 210px;
}

.colWidth {
    min-width: 215px!important;
}

.fullWidth {
    width: 100%!important;
}

.noMargins {
    margin: 0!important;
}

.smallMargin {
    margin: 10px!important;
}

.noPadding {
    padding: 0!important;
}

.smallMarginBottom {
    margin-bottom: 10px;
}

.klantenForm h4{
    margin-right: 5px;
}

@media (max-width: 739px) {
    .inputKlanten {
        width: 100%;
    }

    .colWidth {
        min-width: 100%!important;;
    }

    .klantenTable {
        width: 90%!important;
    }

    .klantenForm button, a, div{
        width: 100%;
        margin-bottom: 5px!important;
        margin-top: 5px!important;
    }
}